<div class="text-left" style="background-color: #2e5589">

  <%= link_to m_menu_path do %>
    <%= image_tag "home.png" , width: '100px' , height: '100px' %>
  <% end %>


  <div class = "default-text" style="font-size: 2.5vw">
    <div align="center" class="jumbotron" style="background-color: #2e5589">
      <h1><span style="color: white">Card Number : <%= @card.number %></span></h1></div>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= form_with model: @card, url: patch_mobile_card_path do |form| %>

      <div align="left" class='container'  style="background-color: #2e5589;">
        <table>
          <tr >
            <td style="font-size: 6vw; color: white;">Points:</td>
            <td></td>
          </tr>
          <tr style="font-size: 2.5vw">
            <td><%= form.select :points, options_for_select([0,1,3,5,8,13,21,34,55,89,144],selected: @card.points)%><br><br></td>
          </tr>

          <tr>
            <td style="font-size: 6vw; color: white;">Iteration :</td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.select :iteration, options_for_select(['Scarlet 2018 I14 (7.12)',
                                                              'Scarlet 2018 I15 (7.25)',
                                                              'Scarlet 2018 I16 (8.9)'],selected: @card.iteration)%><br><br></td>
          </tr>
          <tr>
            <td style="font-size: 6vw; color: white;">
              Summary :</td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.text_field :summary, selected: @card.summary %><br><br>
            </td>
          </tr>
          <tr>
            <td style="font-size: 6vw; color: white;">
              Status:
            </td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.select :status, options_for_select(['New','Begin Analysis','Start Working','Set Done'], selected: @card.status) %><br><br>
            </td>
          </tr>
          <tr>
            <td style="font-size: 6vw; color: white;">
              Owner:
            </td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.select :owner, options_for_select(['Kadambari Kaluri',
                                                          'Suganthini Balaji',
                                                          'Andrew Shane',
                                                          'Manoj Chaluvadi',
                                                          'Liusong Yang'],selected: @card.owner)%><br><br>
            </td>
          </tr>
          <tr>
            <td style="font-size: 6vw; color: white;">
              Description:
            </td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.text_area :description, size: "60", selected: @card.description%><br><br>
            </td>
          </tr>
          <tr style="font-size: 2.5vw">
            <td style="font-size: 6vw; color: white;">
              Comment:
            </td>
            <td></td>
          </tr>

          <tr style="font-size: 2.5vw">
            <td>
              <%= form.text_area :comment, size: "60", selected: @card.comment%><br><br>
            </td>
          </tr>
          <tr style="font-size: 3vw">
            <td>
              <%= form.submit 'Save' %><br><br><br>
          </tr>

        </table>
      </div>


      </div>

      <div class="text-right">
        <%= link_to i_dash_path do %>
          <%= image_tag "googles.png", width: '100px', height: '100px' %>
        <% end %>
      </div>

    <% end %>

    </div>
</div>